<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Weather Forecast</title>

    <meta name="description" content="Receive daily weather forecasts by SMS.">
    <meta name="keywords" content="weather, sms, forecast, weather alerts">
</head>

<body>

<div class="signup-container">

    <h1>Sign Up to Daily Forecast</h1>

    <p class="description">
        Stay prepared every day by receiving a personalized weather forecast directly to your email. Register your email and location to get started.
    </p>

    <!-- <form id="signupForm"> -->

        <label for="email">Email</label>

        <input
            type="email"
            id="email"
            name="email"
            placeholder="example@email.com"
            required
        >
       
        <label for="state">State</label>

        <select id="state" name="state" required>
            <option value="">Select a State</option>
        </select>

        <label for="city">City</label>

        <select id="city" name="city" required>
            <option value="">Select a City</option>
        </select>

        <div class="button-container">

            <button
                class="btn btn-start"
                id="signupBtn"
                type="button">
                Sign Up
            </button>

            <button
                class="btn btn-how"
                type="button"
                id="unsubscribeBtn">
                Unsubscribe
            </button>

        </div>

    <!-- </form> -->

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>